# ğŸ§  Kor-DEEPression
### ğŸ“Š Step 2-2. EDA ë° ì‹œê°í™” ë¶„ì„
> ğŸ· ì‘ì„±ì : Codestates AIB 15ê¸° ì •ê²½ì¬ (Kyung Jae, Cheong)
---

### ğŸ’» ë¼ì´ë¸ŒëŸ¬ë¦¬ ë° ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

- Library Import (ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°)

In [3]:
# Library Import
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as plex
import plotly.graph_objects as go

# Matplotlib setting for VSCode
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False
# Renderer setting for VSCode & Github
import plotly.io as pio
pio.renderers.default = 'vscode+png'

- EDA Data Import (EDA ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°)

In [8]:
# csvíŒŒì¼ì„ DataFrameìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv('downloads/EDA.csv')

### ğŸ” ë°ì´í„° í™•ì¸

- Shape, Head, Tail (ëª¨ì–‘ í™•ì¸)

In [9]:
# Shape í™•ì¸
print(f"Data Shape : {df.shape}")
# Headì™€ Tail data í™•ì¸
display(df.head())
display(df.tail())

Data Shape : (16570, 23)

,id,year,age,BMI,sex,education,household,marital,economy,subj_health,...,high_bp,diabetes,dyslipidemia,drk_freq,drk_amount,smoke,stress,depression,MDD,Depr_MDD
0,A209716213,2014,30,28.939858,Female,ëŒ€ì¡¸ ì´ìƒ,2ì„¸ëŒ€,ë¯¸í˜¼,ì‹¤ì—…ì/ë¹„ê²½ì œí™œë™ì¸êµ¬,ë³´í†µ,...,0,0,0,ì›” 1íšŒ ë¯¸ë§Œ,1-2ì”,ë¹„í¡ì—°/ê³¼ê±°í¡ì—°,ì ê²Œ ëŠë¼ëŠ” í¸ì„,0,0,ì •ìƒ
1,A209716216,2014,29,28.659708,Male,ëŒ€ì¡¸ ì´ìƒ,2ì„¸ëŒ€,ë¯¸í˜¼,ì‹¤ì—…ì/ë¹„ê²½ì œí™œë™ì¸êµ¬,ë³´í†µ,...,0,0,0,ì›” 2-4íšŒ ì •ë„,5-6ì”,ë¹„í¡ì—°/ê³¼ê±°í¡ì—°,ê±°ì˜ ëŠë¼ì§€ ì•ŠìŒ,0,0,ì •ìƒ
2,A209724716,2014,65,20.188238,Male,ì´ˆì¡¸ ì´í•˜,1ì„¸ëŒ€,ê¸°í˜¼(ìœ ë°°ìš°ì),ì·¨ì—…ì,ë³´í†µ,...,1,1,0,í‰ìƒ ë§ˆì…”ë³¸ ì ì—†ìŒ,ì „í˜€ ì•ˆë§ˆì‹¬,í˜„ì¬í¡ì—°,ì ê²Œ ëŠë¼ëŠ” í¸ì„,0,0,ì •ìƒ
3,A209731516,2014,66,24.145909,Male,ëŒ€ì¡¸ ì´ìƒ,1ì„¸ëŒ€,ê¸°í˜¼(ìœ ë°°ìš°ì),ì‹¤ì—…ì/ë¹„ê²½ì œí™œë™ì¸êµ¬,ì¢‹ìŒ,...,0,0,0,1ë…„ê°„ ë§ˆì…”ë³¸ ì ì—†ìŒ,ì „í˜€ ì•ˆë§ˆì‹¬,ë¹„í¡ì—°/ê³¼ê±°í¡ì—°,ì ê²Œ ëŠë¼ëŠ” í¸ì„,0,0,ì •ìƒ
4,A209736615,2014,41,30.598080,Female,ê³ ì¡¸,2ì„¸ëŒ€,ê¸°í˜¼(ìœ ë°°ìš°ì),ì‹¤ì—…ì/ë¹„ê²½ì œí™œë™ì¸êµ¬,ë³´í†µ,...,0,0,0,ì£¼ 4íšŒ ì´ìƒ,10ì” ì´ìƒ,ë¹„í¡ì—°/ê³¼ê±°í¡ì—°,ëŒ€ë‹¨íˆ ë§ì´ ëŠë‚Œ,1,0,ê²½ë„ìš°ìš¸ì¦

,id,year,age,BMI,sex,education,household,marital,economy,subj_health,...,high_bp,diabetes,dyslipidemia,drk_freq,drk_amount,smoke,stress,depression,MDD,Depr_MDD
16565,R804363202,2020,26,17.570804,Female,ëŒ€ì¡¸ ì´ìƒ,2ì„¸ëŒ€,ë¯¸í˜¼,ì·¨ì—…ì,ë³´í†µ,...,0,0,0,ì›” 1íšŒ ì •ë„,3-4ì”,ë¹„í¡ì—°/ê³¼ê±°í¡ì—°,ë§ì´ ëŠë¼ëŠ” í¸ì„,0,0,ì •ìƒ
16566,R804366601,2020,61,23.913275,Female,ê³ ì¡¸,2ì„¸ëŒ€,ê¸°í˜¼(ìœ ë°°ìš°ì),ì·¨ì—…ì,ë³´í†µ,...,0,0,0,ì›” 1íšŒ ë¯¸ë§Œ,1-2ì”,ë¹„í¡ì—°/ê³¼ê±°í¡ì—°,ì ê²Œ ëŠë¼ëŠ” í¸ì„,0,0,ì •ìƒ
16567,R804368302,2020,24,26.129927,Female,ëŒ€ì¡¸ ì´ìƒ,2ì„¸ëŒ€,ë¯¸í˜¼,ì·¨ì—…ì,ë³´í†µ,...,0,0,0,ì£¼ 4íšŒ ì´ìƒ,10ì” ì´ìƒ,í˜„ì¬í¡ì—°,ì ê²Œ ëŠë¼ëŠ” í¸ì„,0,0,ì •ìƒ
16568,R804371701,2020,65,25.941572,Male,ëŒ€ì¡¸ ì´ìƒ,1ì„¸ëŒ€,ê¸°í˜¼(ìœ ë°°ìš°ì),ì‹¤ì—…ì/ë¹„ê²½ì œí™œë™ì¸êµ¬,ì¢‹ìŒ,...,0,0,1,ì›” 2-4íšŒ ì •ë„,5-6ì”,ë¹„í¡ì—°/ê³¼ê±°í¡ì—°,ì ê²Œ ëŠë¼ëŠ” í¸ì„,0,0,ì •ìƒ
16569,R804371702,2020,57,22.287517,Female,ê³ ì¡¸,1ì„¸ëŒ€,ê¸°í˜¼(ìœ ë°°ìš°ì),ì·¨ì—…ì,ë‚˜ì¨,...,0,0,0,ì›” 1íšŒ ë¯¸ë§Œ,1-2ì”,ë¹„í¡ì—°/ê³¼ê±°í¡ì—°,ì ê²Œ ëŠë¼ëŠ” í¸ì„,0,0,ì •ìƒ

- Check Null values & Duplicate values (ê²°ì¸¡ê°’ ë° ì¤‘ë³µê°’)

In [13]:
# ê²°ì¸¡ì¹˜ í™•ì¸
print(f"Sum of Null Values : {df.isnull().sum().sum()}")
# ì¤‘ë³µê°’ í™•ì¸ (ê³ ìœ ì‹ë³„ì½”ë“œì¸ "id" columnë§Œ í™•ì¸)
print(f"Sum of Duplicated Values : {df.id.duplicated().sum()}")

Sum of Null Values : 0
Sum of Duplicated Values : 0

- column's dtype (column íƒ€ì…)

In [14]:
# Column ë³„ dtypeì„ í™•ì¸
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16570 entries, 0 to 16569
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            16570 non-null  object
 1   year          16570 non-null  int64
 2   age           16570 non-null  int64
 3   BMI           16570 non-null  float64
 4   sex           16570 non-null  object
 5   education     16570 non-null  object
 6   household     16570 non-null  object
 7   marital       16570 non-null  object
 8   economy       16570 non-null  object
 9   subj_health   16570 non-null  object
 10  limitation    16570 non-null  int64
 11  modality      16570 non-null  int64
 12  w_change      16570 non-null  int64
 13  high_bp       16570 non-null  int64
 14  diabetes      16570 non-null  int64
 15  dyslipidemia  16570 non-null  int64
 16  drk_freq      16570 non-null  object
 17  drk_amount    16570 non-null  object
 18  smoke         16570 non-null  object
 19  stress        16570 non-null  object
 20  depression    16570 non-null  int64
 21  MDD           16570 non-null  int64
 22  Depr_MDD      16570 non-null  object
dtypes: float64(1), int64(10), object(12)
memory usage: 2.9+ MB

- Variable Classification (ë³€ìˆ˜ ë¶„ë¥˜)

In [49]:
# ì‹ë³„ì½”ë“œ "id"ë¥¼ ì œì™¸í•œ ë³€ìˆ˜ë“¤ì˜ ìˆ˜ì¹˜í˜• ë³€ìˆ˜ ë° ë²”ì£¼í˜• ë³€ìˆ˜ ê°¯ìˆ˜ í™•ì¸
# describe() í•¨ìˆ˜ì˜ include ê¸°ëŠ¥ì„ í™œìš©í•˜ì—¬ ê°¯ìˆ˜ë¥¼ ì‚°ì¶œí•¨(ë¶„ì„ê°€ëŠ¥ ë²”ì£¼ë¥¼ í™•ì¸)
print(f"Sum of Numerical Data : {df.iloc[:,1:].describe(include=['number']).shape[1]}")
print(f"Sum of Categorical Data : {df.iloc[:,1:].describe(include=['object']).shape[1]}")

Sum of Numerical Data : 11
Sum of Categorical Data : 11

In [50]:
# ìˆ˜ì¹˜í˜• ë³€ìˆ˜ ê¸°ìˆ í†µê³„(descriptive statistics)
df.iloc[:,1:].describe(include=['number']).round(1)

,year,age,BMI,limitation,modality,w_change,high_bp,diabetes,dyslipidemia,depression,MDD
count,16570.0,16570.0,16570.0,16570.0,16570.0,16570.0,16570.0,16570.0,16570.0,16570.0,16570.0
mean,2017.2,51.4,24.0,0.1,0.2,0.1,0.3,0.1,0.3,0.2,0.1
std,2.2,16.7,3.6,0.3,0.4,0.3,0.5,0.3,0.5,0.4,0.2
min,2014.0,19.0,14.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,2016.0,38.0,21.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,2018.0,52.0,23.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,2020.0,65.0,26.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
max,2020.0,80.0,62.6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [51]:
# ìˆ˜ì¹˜í˜• ë³€ìˆ˜ì˜ ë¶„ë¥˜ë¥¼ ìœ„í•œ uniqueê°’ ê°¯ìˆ˜ í™•ì¸
numeric_columns = df.iloc[:,1:].describe(include=['number']).columns
df[numeric_columns].nunique()

year                4
age                62
BMI             15328
limitation          2
modality            2
w_change            2
high_bp             2
diabetes            2
dyslipidemia        2
depression          2
MDD                 2
dtype: int64

In [53]:
num_continuous = ((df[numeric_columns].nunique()<5)==False).sum()
# ì—°ì†í˜• ë³€ìˆ˜ì˜ ê°¯ìˆ˜
print(f"Sum of Continous Data : {num_continuous}")
# ë²”ì£¼í˜• ë³€ìˆ˜ì˜ ê°¯ìˆ˜(ìˆ˜ì¹˜í˜• ë°ì´í„° í¬í•¨)
print(f"Sum of Categorical Data : {df.iloc[:,1:].shape[1] - num_continuous}")

Sum of Continous Data : 2
Sum of Categorical Data : 20

##### ğŸ’¡ ë°ì´í„° í™•ì¸ ê²°ê³¼ ìš”ì•½
- DataëŠ” 16570ê°œì˜ rowì™€ 23ê°œì˜ columnìœ¼ë¡œ ì´ë£¨ì–´ì ¸ ìˆìŒ.

- ì „ì²˜ë¦¬ë¥¼ ê±°ì¹œ ë°ì´í„°ì´ê¸° ë•Œë¬¸ì— ê²°ì¸¡ë°ì´í„° ë° ì¤‘ë³µë°ì´í„°ëŠ” ì¡´ì¬í•˜ì§€ ì•Šì•˜ìŒ.

- ì‹ë³„ì½”ë“œì¸ idë¥¼ ì œì™¸í•˜ê³  ìˆ˜ì¹˜í˜• ë° ë²”ì£¼í˜• ë°ì´í„° ê°¯ìˆ˜ëŠ” ë‹¤ìŒê³¼ ê°™ìŒ.

  - ìˆ˜ì¹˜í˜• ë³€ìˆ˜(Numerical Data) : ì´ 11ê°œ
  
  - ë²”ì£¼í˜• ë³€ìˆ˜(Categorical Data) : ì´ 11ê°œ

- ìˆ˜ì¹˜í˜• ë³€ìˆ˜ì˜ uniqueê°’ì˜ ê°œìˆ˜ë¥¼ ê³ ë ¤í•˜ì—¬ ì¬ë¶„ë¥˜ í•œ ê²°ê³¼ëŠ” ë‹¤ìŒê³¼ ê°™ìŒ.

  - ì—°ì†í˜• ë³€ìˆ˜(Continous Data) : ì´ 2ê°œ ('age', 'BMI')
  
  - ë²”ì£¼í˜• ë³€ìˆ˜(Categorical Data) : ì´ 20ê°œ